// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.businesses-list {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  label {
    width: 100%;
  }
  input:checked + label {
    background: cadetblue;
  }
  input {
    display: none;
  }
}
//.ui-autocomplete {
//  position: absolute;
//  z-index: 9999;
//  top: 0;
//  left: 0;
//  cursor: default;
//  background-color: #fff;
//  padding:3px;
//  border: 1px solid #ccc
//}
//
//.ui-autocomplete > li.ui-state-focus {
//  background-color: #FF6C00;
//}
//
//.ui-helper-hidden-accessible{
//  display: none;
//}